:root {
	--color__site: #7943a4;
	--color__site: #c283f3;

	--color__hover: #9d5cd0;
	--color__site: #d1a9f0;
}
a {
	color: white;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Light.ttf");
	font-display: swap;
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.ttf");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-SemiBold.ttf");
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Bold.ttf");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-ExtraBold.ttf");
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

body {
	font-size: 16px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.container {
	max-width: 1680px;
	padding: 0 40px;
	margin: 0 auto;
}
.header {
	font-size: 18px;
	background-image: url(../img/bg/header-bg-1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	min-height: 400px;
}
.header-top__wrapper {
	background-color: black;
	height: 100px;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
	/* margin-right: 140px; */
	max-width: 65%;
	width: 100%;
}
.menu__list {
	display: flex;

	justify-content: space-between;
}
.menu__item {
	margin: 37px 0;
}
.menu__link {
	padding: 4px 6px;
	display: block;
	font-weight: 600;
}
.menu__link::first-letter {
	text-transform: uppercase;
}
.header-bottom__wrapper {
	background-color: rgba(0, 0, 0, 0.57);
}
.header-bottom {
	display: flex;
	align-items: center;
	height: 70px;
}
.header-bottom__item {
	margin-right: auto;
}
.search {
	margin-left: auto;
}
.title__wrapper {
	max-width: 580px;
	align-items: flex-start;
}
.header__title {
	font-weight: 700;
	font-size: 72px;
	line-height: 98px;
	margin-top: 70px;
	margin-bottom: 10px;
}
.header__text {
	font-weight: 700;

	line-height: 30px;
}
.gallery {
	background-image: url(../img/bg/gallery-bg.jpg);
	color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
}
.gallery__inner {
	display: flex;
	padding-top: 80px;
	padding-bottom: 80px;
}

.gallary-cards__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
}
.gallary-cards__item {
	max-width: 350px;
	max-height: 350px;
}

.catalog {
	padding-top: 80px;
	padding-bottom: 80px;
}
.catalog__tab-btn {
	width: 46px;
	height: 46px;
	border-radius: 50%;

	position: relative;
	margin: 0 25px;
}
.catalog-1 {
	background-image: url(../img/catalog/flag/flag-1.png);
}
.catalog-2 {
	background-image: url(../img/catalog/flag/flag-2.png);
}
.catalog-3 {
	background-image: url(../img/catalog/flag/flag-3.png);
}
.catalog-4 {
	background-image: url(../img/catalog/flag/flag-4.png);
}
.catalog-5 {
	background-image: url(../img/catalog/flag/flag-5.png);
}
.catalog-6 {
	background-image: url(../img/catalog/flag/flag-6.png);
}

.catalog__tab-btn::before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	border: #7943a4 solid 1px;
	opacity: 0;
}

.catalog__tab-btn.active::before {
	opacity: 1;
}
.tabs-content{
	display: flex;
}
.events{
/* background-color: tomato; */

}
.events__list{
	display: flex;
}

.edition {
	background-image: url(../img/bg/edition-bg-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 80px 0;
}
.etition__inner {
	display: flex;
}
.edition-cards__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
}
.partners__slider{
	display: flex;
	justify-content: center;
}

.partners__list{
	display: flex;
}
.footer{
	background-color: #000;
	height: 140px;
}
.footer__inner{
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}
.footer__social{
	display: flex;

}
.social__item{

	margin-left: 20px;
}

.social__link{
	width: 45px;
	height: 45px;
	/* background-color: #cacaca; */
	border-radius: 50%;
	display: block;
/* background-position: center;
background-repeat: no-repeat;
background-size: contain; */

}
.social__link:hover svg path{
	fill: white

}
















/* img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; 
}
img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; 
} 
.contacts.container {
}
.contacts {
	width: 100%;
	position: relative;


	margin-bottom: 100px;
}
.contacts::before {
	content: "";

	border: salmon 1px solid;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-right: none;
	z-index: -1;
	padding: 0;
	margin: 0;
}

.contacts__content {
	border: salmon 1px solid;
	border-left: none;
	max-width: 500px;
	width: 100%;
	z-index: 2;
}
.two {
	position: absolute;
	top: 0;

	left: 50%;
	right: 0;

	border: 1px red solid;
	width: 70%;
	height: 100%;
	padding: 0;
	margin: 0;
}
form {
	background-color: salmon;
}
.form-callback input {
	max-width: 400px;
	border-radius: 100px;
	background-color: sandybrown;
}

.test{
	outline: 1px solid red;
	display: flex;
	margin-bottom: 200px;

}

.contain{
	outline: 1px solid black;
	width: 40%;
	position: relative;
	height: 150px;
}

.forms{
	outline: 1px solid green;
	width: 500px;
	position: absolute;
	top: 0;right: 0;
}

.map{
	outline: 1px solid blue;
background-color: blueviolet;
width: 60%;
}

h1{
	font-size: 35px;
	margin-top: 100px;
}*/