:root {
	--color__one: #7943a4;
	--color__two: #c283f3;

	--color__three: #9d5cd0;
	--color__four: #d1a9f0;
}
a {
	color: white;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Light.ttf");
	font-display: swap;
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.ttf");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-SemiBold.ttf");
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Bold.ttf");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-ExtraBold.ttf");
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Italic.ttf");
	font-display: swap;
	font-weight: 400;
	font-style: italic;
}
body {
	font-size: 16px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
}
h2 {
	font-size: 48px;
	/* color: #333; */
}
p {
	/* color: #333; */
	font-weight: 400;
	line-height: 32px;
}

.container {
	max-width: 1700px;
	padding: 0 50px;
	margin: 0 auto;
}
@keyframes bg {
	from {
		background-size: 110% 110%;
	}
	50% {
		background-size: 115% 115%;
	}
	to {
		background-size: 120% 120%;
	}
}
@keyframes trans {
	0% {
		transform: translateX(-500px);
	}
	75% {
		transform: translateX(20px);
	}
	100% {
		transform: translateX(0);
	}
}
.header {
	font-size: 18px;
	background-image: url(../img/bg/header-bg-1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 120% 120%;
	color: white;
	/* min-height: 400px; */
	margin-bottom: 100px;
	padding-bottom: 120px;

	animation: bg 1s linear 1;
}

.header-top__wrapper {
	background-color: black;
	height: 100px;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo img {
	animation: trans 1s linear 1;
}
.menu {
	/* margin-right: 140px; */
	max-width: 65%;
	width: 100%;
}
.menu__list {
	display: flex;

	justify-content: space-between;
}
.menu__item {
	margin: 37px 0;
}
.menu__link {
	padding: 5px 6px;
	display: block;
	font-weight: 600;
}
.menu__link::first-letter {
	text-transform: uppercase;
}
.menu__link:focus:not(:active):not(:hover) {
	background-color: var(--color__one);
}
.menu__link:hover {
	color: var(--color__two);
}
.menu__link:active {
	color: var(--color__one);
}

.user__link {
	padding-left: 27px;

	position: relative;
}

.user__link::after {
	content: url(../img/enter.svg);
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
}
.user__link:focus:not(:active):not(:hover) {
	background-color: var(--color__one);
}
.user__link:hover {
	color: var(--color__two);
}
.user__link:hover.user__link::after {
	content: url(../img/enter-hover.svg);
	left: 1px;
}
.user__link:active {
	color: var(--color__three);
}
.user__link:active.user__link::after {
	content: url(../img/enter-active.svg);
	left: 1px;
}

.header-bottom__wrapper {
	background-color: rgba(0, 0, 0, 0.57);
}
.header-bottom {
	display: flex;
	align-items: center;
	height: 70px;
}
.header-bottom__item {
	margin-right: auto;
}
.search {
	margin-left: auto;
	display: flex;
}
.search__btn {
	background-image: url(../img/icon-loupe.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;

	/* display: block; */
	width: 22px;
	height: 22px;
	margin-right: 10px;
}
.search__input {
	width: 218px;
	background-color: transparent;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.85);
	padding-bottom: 5px;
}
.search__input::placeholder {
	color: white;
	opacity: 0.85;
}
.search__input:focus {
	opacity: 1;
	border-color: var(--color__two);
}
.search__input:hover {
	opacity: 1;
	border-color: var(--color__two);
}
.search__input:active {
	opacity: 1;
	border-color: var(--color__one);
}
.title__wrapper {
	max-width: 580px;
	align-items: flex-start;
}
.header__title {
	font-weight: 700;
	font-size: 72px;
	/* line-height: 98px; */
	line-height: 80px;
	margin-top: 70px;
	margin-bottom: 20px;
}

.header__text {
	font-weight: 700;

	line-height: 30px;
	margin-bottom: 100px;
}
.title__btn {
	background-color: var(--color__three);
	color: white;
	border-radius: 100px;
	padding: 22px 30px;
	font-weight: 700;
	border: 3px solid var(--color__three);
	position: relative;
	display: block;
}

.title__btn:hover {
	border: 3px solid var(--color__four);
}

.title__btn:focus:not(:active):not(:hover) {
	outline: none;
	border: 3px solid white;
	box-shadow: 0 0 0 2px var(--color__two);
}
.title__btn:active {
	background-color: var(--color__one);
	border: 3px solid var(--color__four);
}
.about {
	color: #333;
}
.about__title {
	margin-bottom: 30px;
}
.about__text {
	margin-bottom: 80px;
	max-width: 1080px;
}
.gallery {
	background-image: url(../img/bg/gallery-bg.jpg);
	color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
}
.gallery__inner {
	display: flex;
	padding-top: 80px;
	padding-bottom: 80px;
}
.gallary__text {
	padding-right: 50px;
	display: flex;
	flex-direction: column;
}
.gallary__title {
	margin-bottom: 30px;

	/* ; */
	/* height: 100%; */
}
.sel__name {
	font-weight: 600;
	margin-bottom: 10px;
}
.gallary__note {
	margin-top: auto;
	font-weight: 600;
}
.note__link {
	color: var(--color__two);
	padding: 5px 6px;
}
.note__link:focus:not(:active):not(:hover) {
	color: #fff;
	background-color: var(--color__three);
}
.note__link:hover {
	border-bottom: 1px solid var(--color__three);
}
.note__link:active {
	border-bottom: 1px solid var(--color__one);
	color: var(--color__one);
}
.pages {
	margin: 0 auto;
}
.cards {
	max-width: 1150px;
	width: 100%;
	flex-shrink: 0;
}
.cards__pages {
	display: flex;
	max-width: 130px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 30px;
}
.btn__prev,
.btn__next {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #666;
	position: relative;
}
.btn__prev:after,
.btn__next:after {
	content: "";
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}
.btn__prev:after {
	border-top: none;
	border-right: none;
}
.btn__next:after {
	border-bottom: none;
	border-left: none;
}
.gallary-cards__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
}

.gallary-cards__item {
	max-width: 350px;
	max-height: 350px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: relative;
	border: 2px solid transparent;
	padding: 0px;
}
.gallary-cards__item span {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: transparent;
}
.gallary-cards__item span:active {
	background-color: rgba(194, 131, 243, 0.4);
}
.gallary-cards__item span::after {
	content: url("../img/loupe-gallary.svg");
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;

	opacity: 0;
	transform: translate(-50%, -50%);
}
.gallary-cards__item span::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	margin: 20px 25px 30px;
	opacity: 0;
}
.gallary-cards__item:hover.gallary-cards__item span::before {
	opacity: 0.5;
}
.gallary-cards__item:hover.gallary-cards__item span::after {
	opacity: 1;
}

.gallary-cards__item:focus:not(:active):not(:hover) {
	border: 3px solid var(--color__one);
}
.gallary-cards__item:active {
	border: 2px solid var(--color__four);
}
/* */
.gallary-cards__item img {
	max-width: 100%;
	max-height: 100%;
}

.catalog {
	margin-top: 80px;
	margin-bottom: 80px;
	color: #333;
}
.tab-btn__wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 23px;
}
.catalog__title {
	margin-right: 15px;
}
.catalog__tab-btn {
	width: 46px;
	height: 46px;
	border-radius: 50%;

	position: relative;
	margin: 0 25px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
.catalog-1 {
	background-image: url(../img/catalog/flag/flag-1.png);
}
.catalog-2 {
	background-image: url(../img/catalog/flag/flag-2.png);
}
.catalog-3 {
	background-image: url(../img/catalog/flag/flag-3.png);
}
.catalog-4 {
	background-image: url(../img/catalog/flag/flag-4.png);
}
.catalog-5 {
	background-image: url(../img/catalog/flag/flag-5.png);
}
.catalog-6 {
	background-image: url(../img/catalog/flag/flag-6.png);
}
.catalog__tab-btn:focus,
.catalog__tab-btn:hover {
	box-shadow: 0 0 20px rgba(157, 92, 208, 0.7);
}

.catalog__tab-btn:active {
	box-shadow: none;
	border: 2px solid var(--color__one);
}
.catalog__tab-btn:active.catalog__tab-btn::before {
	transform: translate(-12px, -12px);
}
.catalog__tab-btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-10px, -10px);
	width: 66px;
	height: 66px;
	border-radius: 50%;
	border: var(--color__one) solid 1px;
	opacity: 0;
}

.catalog__tab-btn.active::before {
	opacity: 1;
}
.tabs__text {
	max-width: 1080px;
	margin-bottom: 50px;
}
.tabs-content {
	display: flex;
	justify-content: space-between;
}
.tabs-content__info {
	max-width: 750px;
	width: 100%;
	margin-right: 25px;
}
.info__img {
	width: 100%;
	margin-bottom: 30px;
}
.info__title {
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 15px;
}
.info__subtitle {
	color: #999;
	font-size: 12px;
}
.info__text {
}
.tabs-content__accordeon {
	max-width: 800px;
	width: 100%;
	margin-left: 25px;
}
#accordion {
	padding: 0;
	margin: 0;
}
#accordion h3 {
	color: #333;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	background-color: #fff;

	border: 1px solid #cacaca;
	border-radius: 0;
	border-left: none;
	border-right: none;
	padding: 40px 0;
	margin: 0;
	position: relative;
}
#accordion h3:focus:not(:hover):not(:active) {
	background-color: var(--color__three);
	color: #fff;
}
#accordion h3:focus:not(:hover):not(:active) .ui-accordion-header-icon {
	background-color: var(--color__three);
}

#accordion h3:hover {
	color: var(--color__three);
}
#accordion h3:hover .ui-accordion-header-icon {
	background-color: var(--color__four);
	border-color: transparent;
}
#accordion h3:active {
	background-color: var(--color__three);
	color: #fff;
}

#accordion h3.ui-accordion-header-active {
	border-color: var(--color__one);
	color: var(--color__one);
}

#accordion h3 .ui-accordion-header-icon {
	background-image: none;
	right: 0;
	position: absolute;

	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ececec;
	border: 2px solid transparent;
}

.ui-accordion-header-icon::after {
	content: "";
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	border: 1px solid #000;
	top: 50%;
	left: 50%;
}
.ui-icon-triangle-1-e {
}
#accordion h3 .ui-icon-triangle-1-s {
	background-color: var(--color__four);
	border: 2px solid var(--color__three);
}
.ui-icon-triangle-1-e::after {
	border-top: none;
	border-left: none;
	transform: translate(-50%, -60%) rotate(45deg);
}
.ui-icon-triangle-1-s:after {
	border-bottom: none;
	border-right: none;
	transform: translate(-50%, -40%) rotate(45deg);
}
.accordion__none {
	padding: 25px 0;
	display: flex;
	align-items: center;
}
.none__content {
	max-width: 275px;
}
.none__subtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 5px;
}
.none__text {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 5px;
}
.none__content .none__link {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: var(--color__three);
}
.none__rectangle {
	width: 275px;
	height: 190px;
	border: 2px solid #b7b7b7;
	position: relative;
	margin-right: 25px;
}
.none__rectangle::after {
	content: "";
	width: calc(100% - 24px);
	height: calc(100% - 24px);
	background-color: #b7b7b7;
	position: absolute;
	top: 0;
	left: 0;
	margin: 12px;
}

#accordion .accordion__content {
	max-height: 340px;
	margin: 0;
	padding: 0;
	border: none;
}
.accordion__list {
	/* display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 50px;
	row-gap: 15px; */

	display: flex;
	flex-wrap: wrap;

	padding: 25px 0;
	/* justify-content:flex-start; */
	align-items: flex-start;
}
.accordion__item {
	width: 33%;
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
	/* gap: 50px; */
}
.accordeon__link {
	font-size: 16px;
}
.events {
	/* background-color: tomato; */
	display: flex;
	flex-direction: column;
}
.events__title {
	margin-bottom: 30px;
}
.events__list {
	display: flex;
	justify-content: space-between;
}
.events__item {
	max-width: 500px;
}
.events__img {
	width: 100%;
}

.events__text-img {
	color: #999;
	font-size: 12px;
	line-height: 17px;
	text-align: right;
	margin-right: -30px;
	padding-top: 13px;
}

.events-content {
	line-height: 32px;
	color: #333;
	padding: 0 50px 50px;
	border: 1px solid #cacaca;
	border-top: none;
	min-height: 400px;
	display: flex;
	flex-direction: column;
}
.events-content__title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 10px;
}
.events-content__link {
	font-size: 16px;
	color: var(--color__three);

	align-self: flex-start;
	line-height: 16px;
	/* background-color: red; */
	margin: auto -8px -15px;
	padding: 8px 8px 15px;
	position: relative;
	transition: all 0.3s ease 0s;
}
.events-content__link:after {
	content: "";
	position: absolute;
	bottom: 9px;
	left: 7px;
	width: calc(100% - 14px);
	height: 1px;
	background-color: var(--color__three);
}
.events-content__link:hover {
	color: var(--color__one);
}
.events-content__link:hover.events-content__link:after {
	background-color: var(--color__one);
}
.events-content__link:active {
	color: #333;
}
.events-content__link:active.events-content__link:after {
	background-color: #333;
}
.events-content__link:focus:not(:hover):not(:active) {
	color: #fff;
	background-color: var(--color__three);
}
.events-content__link:focus:not(:hover):not(:active).events-content__link:after {
	background-color: #fff;
}
.events__btn {
	color: var(--color__three);
	margin: 50px auto 80px;
	transition: all 0.3s ease 0s;
}
.btn::after {
	content: "";
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	position: absolute;
	top: -5px;
	left: -5px;
	box-shadow: inset 0 0 0 2px var(--color__two);
	/* border: 2px solid var(--color__two); */
	border-radius: 100px;
	opacity: 0;
}
.btn {
	position: relative;
	font-size: 18px;
	padding: 18px 35px;
	box-shadow: inset 0 0 0 2px var(--color__three);
	border-radius: 100px;
	font-weight: 700;
	background-color: transparent;
}
.btn:focus:not(:active):not(:hover).btn::after {
	opacity: 1;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
}
.btn:hover {
	background-color: var(--color__three);
	color: #fff;
}
.btn:active {
	color: #fff;
	box-shadow: inset 0 0 0 3px var(--color__four);
}

/* 
.title__btn {
	background-color: var(--color__three);
	color: white;
	border-radius: 100px;
	padding: 22px 30px;
	font-weight: 700;
	border: 3px solid var(--color__three);
	position: relative;
	display: block;
}

.title__btn:hover {
	border: 3px solid var(--color__four);
}

.title__btn:focus:not(:active):not(:hover) {
	outline: none;
	border: 3px solid white;
	box-shadow: 0 0 0 2px var(--color__two);
}
.title__btn:active {
	background-color: var(--color__one);
	border: 3px solid var(--color__four);
} */

.edition {
	background-image: url(../img/bg/edition-bg-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 80px 0;
	color: #fff;
}
.etition__inner {
	display: flex;
	justify-content: space-between;
}
.etition__filters {
	max-width: 300px;
	width: 100%;
}
.edition__title {
	margin-bottom: 30px;
}
.filter__title {
	font-weight: 700;
	margin: 0px;
	margin-top: 30px;
}
.categories__item {
	margin: 0;
}
.filter__categories {
	margin-bottom: 30px;
}
.categories__check {
	display: none;
}
.custom__checkbox {
	position: relative;
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	display: inline-block;
}
.custom__checkbox::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4px;
	height: 4px;
	background-color: var(--color__two);
	border-radius: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
}
.categories__check ~ p {
	display: inline;
}
.categories__check:checked ~ p {
	color: var(--color__two);
}
.categories__check:checked ~ .custom__checkbox {
	border-color: var(--color__two);
}
.categories__check:checked ~ .custom__checkbox::before {
	opacity: 1;
}
.categories__item label {
	cursor: pointer;
}
.categories__item label:hover,
.categories__item label:hover .custom__checkbox {
	border-color: var(--color__two);
	color: var(--color__two);
}
.filter-interval {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 6px;
	height: 40px;
	max-width: 280px;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}
.filter-interval label {
	/* width: 40px; */
}
.filter-interval input {
	background-color: rgba(157, 92, 208, 0.5);
	color: #fff;
	max-width: 75px;
	height: 100%;
	padding-left: 10px;
}
.filter-interval span {
	/* width: 5%; */
}

.edition-cards__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
}
.edition__img {
	/* margin-bottom: 25px; */
}
.edition__img img {
	margin-bottom: 25px;
}
.edition__img-text {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	line-height: 22px;
}
.img__name {
	font-weight: 700;
}
.img__autor {
	font-weight: 400;
	display: block;
}
.img__price {
	font-weight: 400;
	font-style: italic;
}
.edition-cards__btn {
	padding: 10px 20px;
	display: inline-block;
	margin-top: 20px;
}
.projects {
	padding-top: 80px;
	padding-bottom: 80px;
	color: #333;
}
.projects__title {
	margin-bottom: 30px;
	font-size: 48px;
	line-height: 65px;
}
.projects__text {
	max-width: 1080px;
	/* font-size: 16px;
line-height: 32px; */
}
.projects__link {
	color: var(--color__three);
}

.info {
	width: 16px;
	height: 16px;
	border: 1px solid var(--color__three);
	border-radius: 50%;
	position: relative;
	display: inline-block;
	cursor: pointer;
	transform: translateY(20%);
	margin-left: 4px;
}
.info:focus:not(:active):not(:hover) {
	background-color: var(--color__four);
}
.info:hover {
	background-color: var(--color__four);
}
.info:active {
	background-color: var(--color__three);
	color: white;
}

.info::after {
	content: "i";
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 11px;
	font-weight: 600;
	display: block;
	/* background-color: red; */
	line-height: 11px;
	transform: translate(-50%, -50%);
}

.info span {
	background-color: var(--color__three);
	color: #fff;
	padding: 12px;
	position: absolute;
	width: 265px;
	display: block;
	top: 0;
	left: 0;
	transform: translate(-50%, calc(-100% - 20px)) scale(0);

	opacity: 1;
	transition: transform 0.3s ease-in-out;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
}
.info span::after {
	content: "";

	bottom: -23px;
	left: 50%;

	position: absolute;
	transform: translateX(calc(-50% + 7px));
	border: 12px solid transparent;
	border-top: 12px solid var(--color__three);
}
.info:hover .hover {
	transform: translate(-50%, calc(-100% - 20px)) scale(1);
}
.partners {
	margin-top: 30px;
}
.partners__title {
	font-size: 24px;
	margin-bottom: 23px;
	line-height: 32px;
	font-weight: 600;
}

.partners__slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.partners__list {
	display: flex;
	justify-content: space-between;
	max-width: 1450px;
	width: 100%;
}
.partners__item {
	max-width: 450px;
	height: 150px;
	width: 100%;
}
.partners__link {
	width: 100%;
	height: 100%;
	border: 1px solid #cacaca;
	display: flex;
}
.partners__link img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;

	margin: auto;
}
.partners__link:hover img {
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	filter: none;
}
.contacts__wrapper {
	margin-top: 80px;
	color: #333;
}
.contacts {
	width: 100%;
	display: flex;

	margin-bottom: 100px;
}
.contacts__title {
	margin-bottom: 30px;
}

.contacts__content {
	display: flex;
	justify-content: flex-end;
	width: calc((100% - 1600px) / 2 + (1600px / 100 * 35));
	flex-shrink: 0;
	/* box-sizing: border-box; */
	border: 1px solid #999;
	/* height: 100px; */
	

	padding: 125px 0;
	padding-left: 50px;
}

.contacts__map {
	/*  */width: 100%;
	height: 738px;
	
	/* box-sizing: border-box; */
	/* border: 1px solid red; */
	/* height: 100px; */
	/* background-color: #ccc; */
	/* background-color: red; */
}
.ymap{
	/* width: calc(100% - 10px);*/

	/* background-color: red; */
}
#yandexmap{
/* width: 100%; */
width: calc(100% - 1px);
	min-height:100%; 

	height: 738px;
/* padding-right: 10px; */
	/* background-color: red; */
}

.form__wrapper {
	width: calc(1600px / 100 * 35);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	/* background-color: #ddd; */
	height: 100%;
	/* box-sizing: border-box; */
	/* border: 1px solid yellow; */
	flex-direction: column;
}
.contacts__subtitle {
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
}
.subhead {
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 30px;
}
.callback__title {
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 20px;
}
.callback__btn {
	color: var(--color__three);
}
.form-callback {
	max-width: 400px;
	width: 100%;
}
.form-callback input {
	max-width: 400px;
	width: 100%;
	border: 1px solid #333;
	border-radius: 100px;
	height: 40px;
	margin-bottom: 23px;
	padding: 0 25px;
}
.callback__messengers-title{
font-size: 24px;	
margin-top: 40px;
margin-bottom: 18px;
}
.callback__messengers{
	display: flex;
}
.callback__messengers a{
width: 40px;
height: 40px;
background-repeat: no-repeat;
display: block;
border-radius: 50%;
margin-right: 20px;

}
.whatsapp{
	background-image: url(../img/whatsapp-icon.svg);
}
.telegramm{
	background-image: url(../img/telegram-icon.svg);
}



.footer {
	background-color: #000;
	height: 140px;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}
.footer__social {
	display: flex;
}
.social__item {
	margin-left: 20px;
}

.social__link {
	width: 45px;
	height: 45px;
	/* background-color: #cacaca; */
	border-radius: 50%;
	display: block;
	/* background-position: center;
background-repeat: no-repeat;
background-size: contain; */
}
.social__link:hover svg path {
	fill: white;
}

/* img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; 
}
img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; 
} 
.contacts.container {
}

.contacts::before {
	content: "";

	border: salmon 1px solid;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-right: none;
	z-index: -1;
	padding: 0;
	margin: 0;
}

.contacts__content {
	border: salmon 1px solid;
	border-left: none;
	max-width: 500px;
	width: 100%;
	z-index: 2;
}
.two {
	position: absolute;
	top: 0;

	left: 50%;
	right: 0;

	border: 1px red solid;
	width: 70%;
	height: 100%;
	padding: 0;
	margin: 0;
}
form {
	background-color: salmon;
}
.form-callback input {
	max-width: 400px;
	border-radius: 100px;
	background-color: sandybrown;
}

.test{
	outline: 1px solid red;
	display: flex;
	margin-bottom: 200px;

}

.contain{
	outline: 1px solid black;
	width: 40%;
	position: relative;
	height: 150px;
}

.forms{
	outline: 1px solid green;
	width: 500px;
	position: absolute;
	top: 0;right: 0;
}

.map{
	outline: 1px solid blue;
background-color: blueviolet;
width: 60%;
}

h1{
	font-size: 35px;
	margin-top: 100px;
}*/

/* map */

[class*="ymaps-2"][class*="-ground-pane"] {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	/* Firefox 3.5+ */
	-webkit-filter: grayscale(100%);
	/* Chrome 19+ & Safari 6+ */
}

.ymaps-2-1-78-copyright__wrap {
	display: none;
	position: absolute;
	opacity: 0;
	z-index: -1;
}
@media (max-width: 1700px) {
}
